<% provide(:title, 'Sobre') %>

<div class="content">
    <div class="container-fluid">
        <p>A ONG SOS Mata Atlântica desenvolve desde 1991 o projeto <a href="https://www.sosma.org.br/projeto/observando-os-rios/">Observando Rios</a>.</p>

        <p>Em Novembro de 2018 iniciei o projeto "Observador de Rios" com o objetivo de melhorar a capacidade de monitoramento dos rios, corregos e outros corpos de água.</p>

        <p>Para aumentar a capacidade de monitoramento serão desenvolvidas estações móveis e fixas que irão transmitir leituras de pH, ORP, Oxigênio Dissolvido, Condutividade, Temperatura e CO2 na superficie.</p>

        <p>Os resultados das leituras serão exibidos em tempo-real nessa interface.</p>

        <p>O desenvolvimento das estações e do sistema embarcado deve iniciar em breve com o uso de hardware de código aberto <a href="http://beagleboard.org/blue">BeagleBone Blue</a>, <a href="http://arduino.cc">Arduino</a> e/ou <a href="https://www.raspberrypi.org/">Raspberry Pi</a>. Os sensores devem ser <a href="https://www.atlas-scientific.com/kits.html">os da Atlas-Scientific</a>.</p>

        <p><a href="https://github.com/dirceup/observador-de-rios">Repositório de código fonte (Github)</a></p>
    </div>
</div>