<% provide(:title, 'Sobre') %>

<div class="content">
    <div class="container-fluid">
        <p>Em 1991 a ONG SOS Mata Atlântica iniciou o projeto Observando Rios. Em 2018 desenvolvi esse projeto para aumentar a capacidade de monitoramento da SOS Mata Atlântica.</p>
        <p>Para aumentar a capacidade de monitoramento está sendo desenvolvida uma estação móvel autônoma que trânsmite leituras de pH, ORP, Oxigênio Dissolvido, Condutividade, Temperatura e CO2 na superficie em tempo-real.</p>
    </div>
</div>