// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#single_station_map {
    height: 400px;
    margin-bottom: 20px;
}

.card-category {
    font-weight: 400;
}
.card-footer {
    font-weight: 400;
}

.auto-update {
    margin-bottom: 10px;
}

.navbar {
    border-radius: 0;
}