// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
    height: 680px;
    width: 100%;
}

#legend {
	height: 100%;
	overflow: auto;
}

.leaflet-control-layers label input {
	margin-bottom: 2px;
}
.leaflet-control-layers label span {
	vertical-align: text-top;
}

.leaflet-popup-content {
	overflow: auto;
	max-height: 300px;
}

.weather-icon {
	text-align: center;
	vertical-align: middle;
	
}

.weather-data {
	border-radius: 4px;
	padding: 0px;
	margin: 0px;
	font-size: x-small;
	color: #000;
	font-weight: bold;
	line-height: 25px;
	height: 25px;
}

div.navbar {
	margin-bottom: 0px;
}

div.navbar-inner {
	border-radius: 0px;
}

div.container-fluid {
	padding: 0px;
	margin: 0px;
}

.leaflet-control-legend {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 10px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	max-height: 70px;
	width: 268px;
	box-shadow: 0 1px 7px #999;
	overflow: hidden;
}

.leaflet-control-legend.larger {
	max-height: 50%;
	overflow: auto;
}

.leaflet-control-legend .legend {
	padding: 0px;
}

.leaflet-control-legend i {
	background-image: none;
	vertical-align: text-bottom;
}