<% provide(:title, 'Mapa') %>

<div id="map"></div>

<script>
$(document).on('turbolinks:load', function() {
    var map;
    var legendControl;

    // Function for resizing the map to fill the available space on the screen
    var resize = function () {
        var $map = $('#map');

        $map.height($(window).height() - $('nav.navbar').outerHeight());

        if (map) {
            map.invalidateSize();
        }
    };

    // Resize the map element on window resize
    $(window).on('resize', function () {
        resize();
    });

    // Resize the map element
    resize();

    // Initialize the map
    map = L.map('map').setView([-21.622019, -49.290994], 10);

    var baseLayer = new L.StamenTileLayer('terrain', {
        detectRetina: true
    }).addTo(map);

    baseLayer.addTo(map);

    // Initialize the legend control and add it to the map
    var legendControl = new L.Control.Legend();

    legendControl.addTo(map);

    var layerControl = new L.Control.Layers({
        'Stamen Toner': baseLayer
    });

    layerControl.addTo(map);

    var data = {
        "gpx": {
            "wpt": [
                {
                    "lat": "-21.671702",
                    "lon": "-49.215927",
                    "ele": "0.98652",
                    "name": "Run 001"
                },
                {
                    "lat": "-21.667257",
                    "lon": "-49.243397",
                    "ele": "1.98652",
                    "name": "Run 001"
                },
                {
                    "lat": "-21.645577",
                    "lon": "-49.264694",
                    "ele": "2.98652",
                    "name": "Run 001"
                },
                {
                    "lat": "-21.602838",
                    "lon": "-49.285307",
                    "ele": "3.98652",
                    "name": "Run 001"
                },
                {
                    "lat": "-21.569030",
                    "lon": "-49.314825",
                    "ele": "4.98652",
                    "name": "Run 001"
                },
                {
                    "lat": "-21.547338",
                    "lon": "-49.341585",
                    "ele": "5.98652",
                    "name": "Run 001"
                },
                {
                    "lat": "-21.534573",
                    "lon": "-49.382057",
                    "ele": "6.98652",
                    "name": "Run 001"
                },
                {
                    "lat": "-21.516052",
                    "lon": "-49.420465",
                    "ele": "7.98652",
                    "name": "Run 001"
                },
                {
                    "lat": "-21.475102",
                    "lon": "-49.464484",
                    "ele": "4.98652",
                    "name": "Run 001"
                },
                {
                    "lat": "-21.433580",
                    "lon": "-49.507031",
                    "ele": "3.98652",
                    "name": "Run 001"
                },
                {
                    "lat": "-21.390760",
                    "lon": "-49.555731",
                    "ele": "2.98652",
                    "name": "Run 001"
                },
                {
                    "lat": "-21.360697",
                    "lon": "-49.601678",
                    "ele": "1.98652",
                    "name": "Run 001"
                }
            ]
        }
    };

    var colors = new L.CustomColorFunction(0, 15.02968, [[247, 252, 240], [224, 243, 219], [204, 235, 197], [168, 221, 181], [123, 204, 196], [78, 179, 211], [43, 140, 190], [8, 104, 172], [8, 64, 129]], {
        interpolate: true
    });

    var dataLayer = new L.FlowLine(data, {
        recordsField: 'gpx.wpt',
        locationMode: L.LocationModes.LATLNG,
        latitudeField: 'lat',
        longitudeField: 'lon',
        legendOptions: {
            className: 'legend-line',
            numSegments: 10
        },
        tooltipOptions: {
            className: 'line-legend leaflet-div-icon',
            iconSize: null
        },
        displayOptions: {
            ele: {
                displayName: 'Elevation',
                weight: new L.LinearFunction([0, 4], [15.02968, 20]),
                color: new L.HSLHueFunction([0, 120], [16, -30])
            }
        },
        layerOptions: {
            opacity: 1.0
        }
    });

    // Add the data layer to the layer control
    layerControl.addOverlay(dataLayer, 'Flow Line');

    var runData = [];
    var wpts = data.gpx.wpt;
    var minEle = 1000;
    var maxEle = -1000;
    for (var i = 0; i < wpts.length; ++i) {
        var wpt = wpts[i];
        var latlng = new L.LatLng(wpt.lat, wpt.lon);

        latlng.weight = wpt.ele * 2;

        maxEle = wpt.ele * 2 > maxEle ? wpt.ele * 2 : maxEle;
        minEle = wpt.ele * 2 < minEle ? wpt.ele * 2 : minEle;

        runData.push(latlng);
    }

    var weightedPolylineTest = new L.WeightedPolyline(runData, {
        fill: true,
        fillColor: '#0033ff',
        fillOpacity: 0.5,
        stroke: false,
        dropShadow: false,
        gradient: true,
        weightToColor: new L.HSLHueFunction([minEle, 60], [maxEle, -30])
    });

    map.addLayer(weightedPolylineTest);
    layerControl.addOverlay(weightedPolylineTest, 'Weighted Polyline');
});
</script>