<% provide(:title, 'Mapa com todas estações') %>

<div id="map"></div>

<script>
$(document).on('turbolinks:load', function() {
    if ($('#map').length != 0) {

        var map;
        var legendControl;

        // Function for resizing the map to fill the available space on the screen
        var resize = function () {
            var $map = $('#map');

            $map.height($(window).height() - $('nav.navbar').outerHeight());

            if (map) {
                map.invalidateSize();
            }
        };

        // Resize the map element on window resize
        $(window).on('resize', function () {
            resize();
        });

        // Resize the map element
        resize();

        // Initialize the map
        map = L.map('map').setView([-21.622019, -49.290994], 10);

        // var baseLayer = new L.StamenTileLayer('toner', {
        //     detectRetina: true
        // }).addTo(map);

        var baseLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            detectRetina: true,
            
        });

        baseLayer.addTo(map);

        // Initialize the legend control and add it to the map
        var legendControl = new L.Control.Legend();

        legendControl.addTo(map);

        // var layerControl = new L.Control.Layers({
        //     'Stamen Toner': baseLayer
        // });

        // layerControl.addTo(map);

        var data = {
            "gpx": {
                "wpt": [
                    {
                        "lat": "-21.671702",
                        "lon": "-49.215927",
                        "ele": "0.98652",
                        "name": "Run 001"
                    },
                    {
                        "lat": "-21.667257",
                        "lon": "-49.243397",
                        "ele": "1.98652",
                        "name": "Run 001"
                    },
                    {
                        "lat": "-21.645577",
                        "lon": "-49.264694",
                        "ele": "2.98652",
                        "name": "Run 001"
                    },
                    {
                        "lat": "-21.602838",
                        "lon": "-49.285307",
                        "ele": "3.98652",
                        "name": "Run 001"
                    },
                    {
                        "lat": "-21.569030",
                        "lon": "-49.314825",
                        "ele": "4.98652",
                        "name": "Run 001"
                    },
                    {
                        "lat": "-21.547338",
                        "lon": "-49.341585",
                        "ele": "5.98652",
                        "name": "Run 001"
                    },
                    {
                        "lat": "-21.534573",
                        "lon": "-49.382057",
                        "ele": "6.98652",
                        "name": "Run 001"
                    },
                    {
                        "lat": "-21.516052",
                        "lon": "-49.420465",
                        "ele": "10.98652",
                        "name": "Run 001"
                    },
                    {
                        "lat": "-21.475102",
                        "lon": "-49.464484",
                        "ele": "4.98652",
                        "name": "Run 001"
                    },
                    {
                        "lat": "-21.433580",
                        "lon": "-49.507031",
                        "ele": "3.98652",
                        "name": "Run 001"
                    },
                    {
                        "lat": "-21.390760",
                        "lon": "-49.555731",
                        "ele": "2.98652",
                        "name": "Run 001"
                    },
                    {
                        "lat": "-21.360697",
                        "lon": "-49.601678",
                        "ele": "1.98652",
                        "name": "Run 001"
                    }
                ]
            }
        };

        // var colors = new L.CustomColorFunction(0, 15.02968, [[247, 252, 240], [224, 243, 219], [204, 235, 197], [168, 221, 181], [123, 204, 196], [78, 179, 211], [43, 140, 190], [8, 104, 172], [8, 64, 129]], {
        //     interpolate: true
        // });

        var dataLayer = new L.FlowLine(data, {
            recordsField: 'gpx.wpt',
            locationMode: L.LocationModes.LATLNG,
            latitudeField: 'lat',
            longitudeField: 'lon',
            legendOptions: {
                className: 'legend-line',
                numSegments: 20
            },
            tooltipOptions: {
                className: 'line-legend leaflet-div-icon',
                iconSize: null
            },
            displayOptions: {
                ele: {
                    displayName: 'Qualidade da água',
                    weight: 8,
                    color: new L.HSLHueFunction([0, 120], [16, -30])
                }
            },
            layerOptions: {
                opacity: 1.0
            }
        });

        // Add the data layer to the layer control
        map.addLayer(dataLayer);

        // custom icone prototype
        
        var station_icon = L.icon({
            iconUrl: "<%= asset_path("baseline_directions_boat_black_18dp.png") %>",
            iconSize: [36, 36]
        });

        var station = L.marker([-21.360697, -49.601678], {icon: station_icon}).addTo(map);

        var cwb_station = L.marker([-25.405952, -49.194728], {icon: station_icon}).addTo(map);

        setTimeout(function() {
            station.setLatLng([-21.349653, -49.642171]);
            dataLayer.addRecord({
                "lat": "-21.349653",
                "lon": "-49.642171",
                "ele": "1.98652",
                "name": "Run 001"
            });
        }, 1000);
        
        setTimeout(function() {
            station.setLatLng([-21.328487, -49.678610]);
            dataLayer.addRecord({
                "lat": "-21.328487",
                "lon": "-49.678610",
                "ele": "1.98652",
                "name": "Run 001"
            });
        }, 2000);

        setTimeout(function() {
            station.setLatLng([-21.302880, -49.716625]);
            dataLayer.addRecord({
                "lat": "-21.302880",
                "lon": "-49.716625",
                "ele": "1.98652",
                "name": "Run 001"
            });
        }, 3000);
    }
});
</script>